/* card notifications */
.card-custom__title {
  font-weight: bold !important;
  padding-left: 1rem;
  margin-bottom: .5rem !important;
}

.card-notifications {
  // height: 245px;
  // overflow: auto;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  ion-list-header {
    font-size: 1rem;
  }

  ion-item {
    font-size: 14px;
  }

  ion-item:not(:first-of-type) p {
    padding: 1rem 0;
  }

  ion-item:first-of-type p {
    padding-bottom: 1rem;
  }
}