.custom-list {
	margin: 0;
	padding: 0;
	list-style: none;
    color: #001871 !important;
	li {
		background-color: #F5F7FF;
		padding: .5rem 1rem;
		margin-bottom: 1rem;
		border-radius: 8px;
		display: flex;
		align-items: center;
		img {
			width: 50px;
			margin-right: 1rem;
		}
	}
}