.form-control {
	font-size: 1em;
	padding: .5em 1em;
	border-radius: 8px;
	width: 100%;
	border: 1px solid #ccc;
	transition: border-color .3s;
	&:focus {
		outline: none;
		border-color: $color-primario;
	}

	&:disabled {
		background-color: rgba(0,0,0,.07);
	}
}

.action-icon {
	color: $color-primario;
	background-color: transparent;
	font-size: 2em;
	padding: 0;
}

.add-other {
	display: flex;
	align-items: center;

	.action-icon {
		margin-left: 1rem;
	}

	ion-button {
		margin: 0;
		margin-left: 1rem;
	}
}

.form-row-separate {
	margin-bottom: 0.5rem;
}

ion-row.center-cols {
	margin: 2rem 0;
	align-items: center;
	h5 {
		margin: 0;
	}
	label {
		cursor: pointer;
		display: inline-block;
		margin-bottom: 0;
		margin-left: 1rem;
	}
}

.footer-form {
	display: flex;
	align-items: center;
}

label {
	margin-bottom: 0.5rem;
	display: block;
}