.login-page {
	ion-grid,
	ion-card,
	ion-col {
		padding: 0;
		margin: 0;
	}
	ion-row {
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	.login-card {
		padding: 1rem 2rem;
		text-align: center;
		img {
			margin-top: 2rem;
			width: 60%;
		}
		[type="submit"] {
			background-color: $color-primario;
			color: white;
			padding: 0.5em 1em;
			border-radius: 8px;
			border: none;
			margin-top: 2rem;
		}
		ion-button {
			margin-top: 1rem;
		}
		input, a {
			font-size: 1.3em;
			margin: .5rem 0;
		}
		a {
			color: $color-primario;
			display: block;
			margin-top: 1rem;
		}
		input:first-of-type {
			margin-top: 2rem;
		}
	}
}