/* menu principal */
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu ion-list {
  padding: 20px 0;
}

ion-menu ion-list#inbox-list ion-list-header {
  --background: transparent;
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu ion-item {
  --background: transparent;
  --color: white;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item.selected {
  --color: black;
  --background: white;
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu ion-item ion-icon {
  color: #616e7e;
}

ion-menu ion-item ion-label {
  font-weight: 500;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/* Estilos de BWater */

ion-menu {
  border-radius: 0 20px 20px 0;
  // --min-width: 200px;
  // --width: 200px;
  // --max-width: 200px;
}

ion-menu ion-list#inbox-list ion-list-header,
ion-menu ion-list#inbox-list ion-list-header ion-title {
  padding: 0;
  text-align: center;
}

ion-menu ion-list#inbox-list ion-list-header ion-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

ion-menu ion-list#inbox-list ion-list-header ion-toolbar {
  margin-bottom: 2rem;
}

ion-menu ion-item {
  --background: transparent;
  --color: white;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu ion-item ion-icon {
  color: white !important;
}

ion-menu ion-item.selected {
  --color: #000C39;
  --background: white;
}

ion-menu ion-item.selected ion-icon,
ion-menu ion-item.selected ion-label {
  color: #000C39 !important;
}

ion-menu ion-item {
  font-size: 14px;
}


ion-menu ion-item ion-icon {
  font-size: 1.5rem;
}