.modal {
	.modal-wrapper {
		@media screen and (min-width: 992px) {
			border-radius: 20px;
			height: 90%;
			width: 60%;
		}
	}

	&__title {
		margin-left: 1rem;
	}

	&__header,
	&__footer {
		color: white;
		padding: 1rem;
		text-align: center;
		background-color: $color-primario;
	}

	&__footer {
		background-color: #eee;
	}
}