.operation {
	&-wrapper {
		position: relative;

		input {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}

		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 5px 10px;
			background-color: $color-primario;
			color: white;
			border: none;
			border-radius: 8px;
		}

		button:first-of-type {
			left: 10px;
		}

		button:last-of-type {
			right: 10px;
		}
	}
}