.search {
  display: flex;
  align-items: center;

  button {
    background: transparent;
    padding: 0;
    &:active {
      transform: scale(0.9);
    }
  }

  ion-icon {
    color: #001871;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5em 1em;
    transition: border-color 0.3s;
    font-size: 1rem;
    margin: 0 5px;
    &:focus {
      border-color: #001871;
      outline: none;
    }
  }

  ion-button {
    margin-left: 0.5rem;
    border: none;
    --padding: 0.5em 1em;
  }
}
