.sucursal-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	&__img {
		height: 100px !important;
	}
	&__desc {
		color: #001871;
		margin-top: .5rem !important;
	}
}