.table {
	$radius: 8px;
	&-bottom {
		td {
			// border-top: 1px solid $color-primario;
			&:nth-child(1),
			&:nth-child(2) {
				background-color: transparent;
			}

			&:nth-child(3) {
				padding-left: 1rem;
				border-radius: $radius 0 0 $radius;
			}
		}
	}
	width: 100%;
	border-collapse: separate;
  	border-spacing: 0 .6rem;
	td,
	th {
		font-size: 14px;
		padding: .5rem .3rem;
		font-weight: normal;
		color: #000C39;
		&:first-child {
			padding-left: 1rem;
			border-radius: $radius 0 0 $radius;
		}
		&:last-child {
			padding-right: 1rem;
			border-radius: 0 $radius $radius 0;
		}
	}

	th {
		background-color: #D2DBFF;
		font-weight: bold;
	}

	td {
		background-color: #E8ECFF;
	}

	thead {
		text-align-last: left;
		margin-bottom: 1rem;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;

		&__form {
			display: flex;
			.form-control:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}

	&-title {
		font-weight: bold;
		color: #001871;
		font-size: 1rem;
		margin: 0;
	}
}