/* notifications & dropdown user profile */
.notifications,
.dropdown-user-profile {
  // font-size: 2rem;
  font-size: 2.5rem;
  padding: 0;
  background: transparent;
}

.notifications {
  color: #001871;
  line-height: 0;
}

.user-profile {
  border-radius: 10px;
  background-color: #001871;
  color: white;
  display: flex;
  align-items: center;
  padding: .3rem .7rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
}

.user-profile img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.user-profile__info {
  text-align-last: left;
  margin: 0rem 1rem;
}

.user-profile__info p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.dropdown-user-profile {
  font-size: 1.5rem;
  color: white;
}