.bg-gradient {
  /* esta custom property es igual al shorthand background */
  --background: linear-gradient(180deg, #001871 0%, #001871 62%, #0093B2 100%);
}

.bg-light-bwater {
  background: #FAFBFF;
  --background: #FAFBFF;
}

.no-bg {
  /* hay componentes que necesitan custom propertys */
  --background: transparent;
  /* hay otros que no */
  background-color: transparent;
}

.bwater-color {
  color: #001871;
}

/* page title */
.page-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #001871;
  text-transform: capitalize;
}

.end-header {
  padding-right: 2rem;
  display: flex;
  align-items: center;
}

/* Utilidades */
.no-show-scroll {
  width: calc(100% + 16px);
}

/* Logo */
.logo {
  width: 70%;
}

/* ion split plane */
.split-plane {
  --side-max-width: 170px; // Esto cambia el tamaño del side menu
}

/* slides sucursales */
.sucursales__slider {
  height: 140px;
  --bullet-background: #000C39;
  --bullet-background-active: #000C39;
}

.sucursales__slider ion-slide {
  background-color: #F5F7FF;
  border-radius: 8px;
}

.sucursales__slider h1 {
  font-size: 1rem;
} 

.sucursales__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sucursales__buttons ion-button {
  font-size: 12px;
}

.sucursales__grid {
  padding: 0;
}

.sucursales__col {
  padding-left: 0;
}

/* list header */
.list-header {
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: 1.5;
  &__user-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pt-0 {
  padding-top: 0;
}

.h-100 {
  height: 100%;
}

ion-button {
  --border-radius: 8px;
}

ion-card {
  border-radius: 8px;
  box-shadow: 6px 6px 12px #0000000A !important;
}

.grid-forms {
  ion-row {
    margin-bottom: 2rem;
  }
}

.mb {
  margin-bottom: 1rem;
}